# Data Science Tools and Ecosystem

## Autor: David Sicardo

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Create a code cell to convert minutes to hours
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julya

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. TensorFlow

|Data Science Tools |
| ------ |
| Cassandra |
|MongoDB |
| CouchDB |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [39]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [41]:
#This will convert 200 minutes to hours by diving by 60
result = 200/60
print(result, "hours")

3.3333333333333335 hours